package main

import "testing"

func Test_countIncreasingMeasurements(t *testing.T) {

	tests := []struct {
		name  string
		input []string
		want  int
	}{
		{
			"no input",
			[]string{},
			0,
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			if got := calculateSolution(tt.input); got != tt.want {
				t.Errorf("countIncreasingMeasurements() = %v, want %v", got, tt.want)
			}
		})
	}
}
